<h1>Hello Admin</h1>


<a title="ruby on rails форум" href="http://localhost:3000/"><img border="0" alt="ruby on rails web development" src="http://www.itrim.center/bitrix/templates/alfa-service/images/car.png" /></a>



<a class="btn btn-default" href="#" role="button">Link</a>
<button class="btn btn-default" type="submit">Table</button>
<input class="btn btn-default" type="button" value="Massage">
<input class="btn btn-default" type="button" value="Users">
<button type="button" class="btn btn-danger">Exit</button>











<a href="http://railstutorial.ru/chapters/4_0/beginning" title="ruby on rails"><img src="https://cdn.tutsplus.com/net/uploads/legacy/417_ruby/images/ruby.png" alt="ruby on rails"></a>





<button type="button" class="btn btn-primary btn-lg btn-block">Big batton</button>



