%h2{align: 'center'}
  =link_to 'Create news', new_admin_news_path
%h1{align: 'center'}News list
%table.table.table-bordered
  %thead
    %tr
      %th ID
      %th Title
      %th Body
      %th Created_at
      %th Updated_at
      %th{colspan: 3} Actions
  %tbody
    -@news.each do |n|
      %tr
        %td
          =n.id
        %td
          =n.title
        %td{'data-width' => '300'}
          -if n.body.length < 79
            =n.body
          -else
            =n.body.first(80)
            =link_to ' ...',(admin_news_path(n))
        %td
          =n.created_at.strftime("%y.%m.%d")
        %td
          =n.updated_at.strftime("%y.%m.%d")
        %td
          =link_to 'Show', admin_news_path(n)
        %td
          =link_to 'Edit', edit_admin_news_path(n)
        %td
          =link_to 'Delete',admin_news_path(n),method: :delete
=will_paginate