<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <%= link_to image_tag("bubbles-alt-icon.png", alt: "Rails"), 'http://rubyonrails.org/' %>
    </div>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="button7" href="#">button</a>
        </li>
        <li>
          <a class="button7" href="#">button</a>
        </li>

        <li>
          <a class="button7" href="#">button</a>
        </li>
        <li>
          <a class="button7" href="#">button</a>
        </li>
        <li>
          <%= link_to "Log In", login_path, class: "button7" %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Welcome to the Uzhgorod web portal.</h2>
          <p class="intro-text">In future this can be awesome web application. Now we in development. <br>Thanks for visit.</p>
          <a href="#" class="btn btn-default btn-lg">Sing up</a>
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->

<div class='container'>
  <h1>Menu</h1>
  <div class='navbar navbar-inverse'>
    <div class='navbar-inner nav-collapse' style="height: auto;">
      <ul class="nav">
        <li class="active"><a  class="button7" href="#">Home</a></li>
        <li><a href="#" >Page One</a></li>
        <li><a href="#">Page Two</a></li>
      </ul>
    </div>
  </div>

    <div class='span8 main'>
      <h2>Main Content Section</h2>
      <p>Web development that doesn’t hurt
      Ruby on Rails® is an open-source web framework that’s optimized
      for programmer happiness and sustainable productivity. It lets you
      write beautiful code by favoring convention over configuration.</p>
      <p>“Ruby on Rails is a breakthrough in lowering the barriers of entry to programming.
        Powerful web applications that formerly might have taken weeks or months
        to develop can be produced in a matter of days.”
        – Tim O’Reilly, Founder of O’Reilly Media</p></div>
    <div class='span2 sidebar'>
      <h3>Sidebar</h3>
      <ul class="nav nav-tabs nav-stacked">
        <li><a href='#'>Another Link 1</a></li>
        <li><a href='#'>Another Link 2</a></li>
        <li><a href='#'>Another Link 3</a></li>
      </ul>
    </div>
  </div>
</div>

<p>
<div class="c" >
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
</p>


<!-- Sidebar -->




<!-- /#sidebar-wrapper -->

<!-- Download Section -->

<div class="c" >
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>The best web portal</h1>
        <p>You can try for free!</p>
        <a href="#" class="btn btn-default btn-lg">Visit our Web portal</a>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->

    <div class="c">
     <h1>We in</h1>
      <p>add</p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Facebook</span></a>
        </li>
        <li>
          <a href="#" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
        </li>
      </ul>
  </div>

<!-- Map Section -->

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright &copy; Website 2015</p>
    <p><a href="#">Admin</a>
    <div><p><%= link_to image_tag("4.png", alt: "Rails"), 'http://rubyonrails.org/' %>
    </p>
    </div>
  </div>

</footer>

