default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: secret

development:
  <<: *default
  database: swan_rc3_development

test:
  <<: *default
  database: swan_rc3_test

production:
  <<: *default
  database: swan_rc3_production
  username: root
  password: wolverine
